<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Anime index page </title>
</head>
<body>
    <h1> Are you a fan, do you know the best anime in the land </h1>
    <table>
        <tr>
            <% @anime.map do |series|%>
                <td> <%= link_to series.name, anime_path(series.id) %> </td>
            <%end%>
        </tr>
        <tr>
                <% @anime.map do |series|%>
                    <td> <%= link_to series.description, anime_path(series.id) %> </td>
                <%end%>
        </tr>
    </table>
</body>
</html>