<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Anime index page </title>
</head>
<body>
    <header>
        <div id="banner">
            <img src="https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwL_nk71Z0lmepi0f51OM5CE" alt="Anime Banner" title="Animenyusu Banner">
        </div>
        <h1> Browse all your favourite Anime on one page! </h1>
    </header>
    <table>
        <tr>
            <% @anime.map do |series|%>
                <td> <%= link_to series.name, anime_path(series.id) %> </td>
            <%end%>
        </tr>
        <tr>
                <% @anime.map do |series|%>
                    <td> <%= link_to series.description, anime_path(series.id) %> </td>
                <%end%>
        </tr>
    </table>
</body>
</html>