<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= @anime %></title>
    </head>
    <body>
        <h1> <%= @anime.name %> <h1> <br>
        <hr>
        <h2> <%= @anime.description %> </h2>