<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= @anime %></title>
    </head>
    <body>
        <header>
            <div id="banner">
                <img src="https://image.myanimelist.net/ui/5LYzTBVoS196gvYvw3zjwL_nk71Z0lmepi0f51OM5CE" alt="Anime Banner" title="Animenyusu Banner">
            </div>
            <div id="Logo"
                <img src="./animes/Internally saved images/Screen Shot 2020-09-09 at 10.23.08 AM.png" alt="AnimeNyusu!!">
            </div>

<h1> anime show page <h1>

<h1> <%= @anime.name %> <h1> <br>


<h2> <%= @anime.description %> </h2>